<mat-tab-group>
    <mat-tab label="Todas las Tareas"> Content 3 </mat-tab>
    <mat-tab label="Tareas Pendientes"> Content 1 </mat-tab>
    <mat-tab label="Tareas en Proceso"> Content 2 </mat-tab>
    <mat-tab label="Historial de Tareas"> Content 3 </mat-tab>
    <!--<mat-tab label="Pending Tasks">
        <app-pending-task></app-pending-task>
    </mat-tab>
    <mat-tab label="In process Tasks">
        <app-inprocess-tasks></app-inprocess-tasks>
    </mat-tab>
    <mat-tab label="Historical">
        <app-historical-tasks></app-historical-tasks>
    </mat-tab>
    <mat-tab label="All">
        <app-all-tasks></app-all-tasks>
    </mat-tab>-->
</mat-tab-group>