<div class="container">
    <mat-form-field>
        <input matInput placeholder="Nueva Tarea" name="task" [(ngModel)]="NewTask.task">
    </mat-form-field>
    <div id="catSeleccion">
        <span>Categoria: &nbsp;</span>

        <mat-selection-list #categorias [multiple]="false">
            <mat-list-option *ngFor="let category of categories" [value]="category" (click)="onSelect(category)">
                {{category.name}}
            </mat-list-option>
        </mat-selection-list>

    </div>
    <p>
        Categoria escogida: {{categorias.name}}
    </p>
    <button mat-flat-button color="primary" (click)="onSave()" [disabled]="!NewTask.task">
            Crear&nbsp;<mat-icon>save</mat-icon>
        </button>
</div>