<div class="container">
    <mat-form-field>
        <input matInput placeholder="Tarea" name="task" [(ngModel)]="this.task.selected.task">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>{{this.task.selected.category}}</mat-label>
        <mat-select name="name" [(ngModel)]="this.task.selected.category" placeholder="category.name">
            <mat-option *ngFor="let category of categories" [value]="category.name">
                {{category.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div>
        <p>Cambiar Estado</p>
        <p>
            <mat-radio-group name="fontStyle" [(ngModel)]="this.task.selected.state">
                <mat-radio-button value="Pendiente">Pendiente</mat-radio-button>
                <mat-radio-button value="Proceso">Proceso</mat-radio-button>
                <mat-radio-button value="Terminado">Terminado</mat-radio-button>
            </mat-radio-group>
        </p>
    </div>
    <div class="row" #buttons>
        <button id="bot1" mat-flat-button color="primary" (click)="onSaveForm()">
            Actualizar&nbsp;<mat-icon>update</mat-icon>
        </button>
        <button id="bot2" mat-stroke-button color="basic" (click)="deselect()">
            &nbsp;Borrar seleccion&nbsp;<mat-icon>replay</mat-icon>
        </button>
    </div>
</div>